@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  position: absolute;
  z-index: -5;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  width: 100%;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: #dc414c;
}

.baseline {
  margin-top: 1.5rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.baseline div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.background-dark {
  background-color: #1e202a;
}

.background-dark-1 {
  background-color: #1f212e !important;
}

.border-top-facebook {
  position: relative;
  height: 98%;
  margin-top: auto;
}
.border-top-facebook::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  right: 0;
  bottom: 1px;
  background-image: linear-gradient(90deg, #198ff5, #198ff5);
  z-index: -1;
  border-radius: 0.4rem;
}

.border-top-instagram {
  position: relative;
  height: 98%;
  margin-top: auto;
}
.border-top-instagram::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  right: 0;
  bottom: 1px;
  background-image: linear-gradient(90deg, #fdc468, #df4996);
  z-index: -1;
  border-radius: 0.4rem;
}

.border-top-twitter {
  position: relative;
  height: 98%;
  margin-top: auto;
}
.border-top-twitter::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  right: 0;
  bottom: 1px;
  background-image: linear-gradient(90deg, #1ca0f2, #1ca0f2);
  z-index: -1;
  border-radius: 0.4rem;
}

.border-top-youtube {
  position: relative;
  height: 98%;
  margin-top: auto;
}
.border-top-youtube::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  right: 0;
  bottom: 1px;
  background-image: linear-gradient(90deg, #c4032a, #c4032a);
  z-index: -1;
  border-radius: 0.4rem;
}

.container-grid {
  display: grid;
  grid-auto-columns: 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
  margin-bottom: 3rem;
  grid-template-areas: "a-1 a-1 a-1 a-2" "b-1 b-2 b-3 b-4" "c-1 c-1 c-1 c-1" "d-1 d-2 d-3 d-4" "d-5 d-6 d-7 d-8";
}
.container-grid .grid-a1 {
  grid-area: a-1;
  padding-bottom: 1.5rem;
}
.container-grid .grid-a1 p {
  font-weight: 700;
  color: #63687e;
  margin-top: 0.5rem;
}
.container-grid .grid-a2 {
  grid-area: a-2;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.container-grid .grid-a2 p {
  font-weight: 700;
  color: #8b97c6;
}
.container-grid .grid-b1 {
  grid-area: b-1;
}
.container-grid .grid-b2 {
  grid-area: b-2;
}
.container-grid .grid-b3 {
  grid-area: b-3;
}
.container-grid .grid-b4 {
  grid-area: b-4;
}
.container-grid .grid-b1,
.container-grid .grid-b2,
.container-grid .grid-b3,
.container-grid .grid-b4 {
  padding: 2rem 2rem 1.75rem;
  text-align: center;
  background-color: #f0f2fa;
  transition: all 0.2s ease-out;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.container-grid .grid-b1:hover,
.container-grid .grid-b2:hover,
.container-grid .grid-b3:hover,
.container-grid .grid-b4:hover {
  cursor: pointer;
  background-color: #e0e2f0;
}
.container-grid .grid-b1 div:nth-child(1),
.container-grid .grid-b2 div:nth-child(1),
.container-grid .grid-b3 div:nth-child(1),
.container-grid .grid-b4 div:nth-child(1) {
  color: #63687e;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-grid .grid-b1 h3,
.container-grid .grid-b2 h3,
.container-grid .grid-b3 h3,
.container-grid .grid-b4 h3 {
  font-size: 3.9rem;
  color: #1e202a;
  margin-top: 1.35rem;
}
.container-grid .grid-b1 h4,
.container-grid .grid-b2 h4,
.container-grid .grid-b3 h4,
.container-grid .grid-b4 h4 {
  font-size: 3.9rem;
  color: #1e202a;
}
.container-grid .grid-b1 .followers,
.container-grid .grid-b2 .followers,
.container-grid .grid-b3 .followers,
.container-grid .grid-b4 .followers {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #63687e;
  margin-bottom: 1.75rem;
}
.container-grid .grid-c1 {
  grid-area: c-1;
  margin-top: 2rem;
}
.container-grid .grid-c1 h2 {
  font-size: 1.75rem;
  color: #63687e;
}
.container-grid .grid-d1 {
  grid-area: d-1;
}
.container-grid .grid-d2 {
  grid-area: d-2;
}
.container-grid .grid-d3 {
  grid-area: d-3;
}
.container-grid .grid-d4 {
  grid-area: d-4;
}
.container-grid .grid-d5 {
  grid-area: d-5;
}
.container-grid .grid-d6 {
  grid-area: d-6;
}
.container-grid .grid-d7 {
  grid-area: d-7;
}
.container-grid .grid-d8 {
  grid-area: d-8;
}
.container-grid .grid-d1,
.container-grid .grid-d2,
.container-grid .grid-d3,
.container-grid .grid-d4,
.container-grid .grid-d5,
.container-grid .grid-d6,
.container-grid .grid-d7,
.container-grid .grid-d8 {
  padding: 2rem 2rem 1.75rem;
  text-align: left;
  background-color: #f0f2fa;
  transition: all 0.2s ease-out;
  border-radius: 0.4rem;
}
.container-grid .grid-d1:hover,
.container-grid .grid-d2:hover,
.container-grid .grid-d3:hover,
.container-grid .grid-d4:hover,
.container-grid .grid-d5:hover,
.container-grid .grid-d6:hover,
.container-grid .grid-d7:hover,
.container-grid .grid-d8:hover {
  cursor: pointer;
  background-color: #e0e2f0;
}
.container-grid .grid-d1 div:nth-child(1),
.container-grid .grid-d2 div:nth-child(1),
.container-grid .grid-d3 div:nth-child(1),
.container-grid .grid-d4 div:nth-child(1),
.container-grid .grid-d5 div:nth-child(1),
.container-grid .grid-d6 div:nth-child(1),
.container-grid .grid-d7 div:nth-child(1),
.container-grid .grid-d8 div:nth-child(1) {
  color: #63687e;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-grid .grid-d1 h3,
.container-grid .grid-d2 h3,
.container-grid .grid-d3 h3,
.container-grid .grid-d4 h3,
.container-grid .grid-d5 h3,
.container-grid .grid-d6 h3,
.container-grid .grid-d7 h3,
.container-grid .grid-d8 h3 {
  font-size: 2.3rem;
  color: #1e202a;
  margin-top: 1.35rem;
}
.container-grid .grid-d1 h4,
.container-grid .grid-d2 h4,
.container-grid .grid-d3 h4,
.container-grid .grid-d4 h4,
.container-grid .grid-d5 h4,
.container-grid .grid-d6 h4,
.container-grid .grid-d7 h4,
.container-grid .grid-d8 h4 {
  font-size: 2.3rem;
  color: #1e202a;
}
.container-grid .grid-d1 .followers,
.container-grid .grid-d2 .followers,
.container-grid .grid-d3 .followers,
.container-grid .grid-d4 .followers,
.container-grid .grid-d5 .followers,
.container-grid .grid-d6 .followers,
.container-grid .grid-d7 .followers,
.container-grid .grid-d8 .followers {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #63687e;
  margin-bottom: 1.75rem;
}

.container-main {
  height: 100vh;
  padding: 3rem 12rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.container-main .pattern {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 17.5rem;
  width: 100%;
  z-index: -2;
  background-color: #f5f7ff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.dashboard-dark {
  background-color: #252a41 !important;
}
.dashboard-dark:hover {
  background-color: #333a57 !important;
}

.heading {
  color: #1e202a;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-image: linear-gradient(90deg, #aeb3cb, #aeb3cb);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
  border-radius: 34px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in-out;
}
.slider::before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.slider-dark::before {
  background-color: #1f212e !important;
}

.text-bright-red {
  color: #dc414c;
  font-weight: 700;
}

.text-dark {
  color: white !important;
}

.text-2-dark {
  color: #8b97c6 !important;
}

.text-lime-green {
  color: #1db489;
  font-weight: 700;
}

.today {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

@media (max-width: 991px) {
  .container-main {
    height: fit-content;
    padding: 3rem 6rem 0.5rem;
  }

  .container-grid {
    margin-bottom: 3rem;
    grid-template-areas: "a-1 a-2" "b-1 b-2" "b-3 b-4" "c-1 c-1" "d-1 d-2" "d-3 d-4" "d-5 d-6" "d-7 d-8";
  }
}
@media (max-width: 600px) {
  .attribution {
    font-size: 0.8rem;
  }

  .container-main {
    padding: 3rem 1.5rem 0.5rem;
  }

  .container-grid {
    margin-bottom: 3rem;
    grid-template-areas: "a-1" "a-2" "b-1" "b-2" "b-3" "b-4" "c-1" "d-1" "d-2" "d-3" "d-4" "d-5" "d-6" "d-7" "d-8";
  }
  .container-grid .grid-a1 {
    border-bottom: 1px solid #63687e;
  }
  .container-grid .grid-a2 {
    justify-content: space-between;
  }

  .heading {
    font-size: 1.35rem;
  }
}

/*# sourceMappingURL=style.css.map */
