@use "reset";
@use "variables";

@mixin border-top($color1, $color2) {
  position: relative;
  height: 98%;
  margin-top: auto;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    right: 0;
    bottom: 1px;
    background-image: linear-gradient(90deg, $color1, $color2);
    z-index: -1;
    border-radius: 0.4rem;
  }
}

@mixin dashboard-layout($justify, $font, $text) {
  padding: 2rem 2rem 1.75rem;
  text-align: $text;
  background-color: variables.$light-grayish-blue;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  transition: all 0.2s ease-out;

  &:hover {
    cursor: pointer;
    background-color: variables.$light-grayish-blue-hover;
  }

  div:nth-child(1) {
    color: variables.$dark-grayish-blue;
    font-weight: 700;
  }

  div:nth-child(2) {
    margin-top: 1.5rem;
    align-items: baseline;
  }

  div {
    display: flex;
    justify-content: $justify;
    align-items: center;
    gap: 0.65rem;
  }

  h3 {
    font-size: $font;
    color: variables.$very-dark-blue;
    margin-top: 1.35rem;
  }

  h4 {
    font-size: $font;
    color: variables.$very-dark-blue;
  }

  .followers {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    color: variables.$dark-grayish-blue;
    margin-bottom: 1.75rem;
  }
}

main {
  margin: auto;
  width: 100%;
}

.attribution {
  font-size: 1rem;
  text-align: center;

  a {
    color: variables.$bright-red;
  }
}

.border-top-facebook {
  @include border-top(variables.$facebook, variables.$facebook);
}
.border-top-instagram {
  @include border-top(variables.$instagram-1, variables.$instagram-2);
}
.border-top-twitter {
  @include border-top(variables.$twitter, variables.$twitter);
}
.border-top-youtube {
  @include border-top(variables.$youtube, variables.$youtube);
}

.container-grid {
  display: grid;
  grid-auto-columns: 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
  grid-template-areas:
    "a-1 a-1 a-1 a-2"
    "b-1 b-2 b-3 b-4"
    "c-1 c-1 c-1 c-1"
    "d-1 d-2 d-3 d-4"
    "d-5 d-6 d-7 d-8";

  .grid-a1 {
    grid-area: a-1;
    padding-bottom: 1.5rem;

    p {
      font-weight: 700;
      color: variables.$dark-grayish-blue;
      margin-top: 0.5rem;
    }
  }

  .grid-a2 {
    grid-area: a-2;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    p {
      font-weight: 700;
      color: variables.$desaturated-blue;
    }
  }

  .grid-b1 {
    grid-area: b-1;
  }
  .grid-b2 {
    grid-area: b-2;
  }
  .grid-b3 {
    grid-area: b-3;
  }
  .grid-b4 {
    grid-area: b-4;
  }

  .grid-b1,
  .grid-b2,
  .grid-b3,
  .grid-b4 {
    @include dashboard-layout(center, 3.9rem, center);
  }

  .grid-c1 {
    grid-area: c-1;
    margin-top: 2rem;

    h2 {
      font-size: 1.75rem;
      color: variables.$dark-grayish-blue;
    }
  }

  .grid-d1 {
    grid-area: d-1;
  }
  .grid-d2 {
    grid-area: d-2;
  }
  .grid-d3 {
    grid-area: d-3;
  }
  .grid-d4 {
    grid-area: d-4;
  }
  .grid-d5 {
    grid-area: d-5;
  }
  .grid-d6 {
    grid-area: d-6;
  }
  .grid-d7 {
    grid-area: d-7;
  }
  .grid-d8 {
    grid-area: d-8;
  }

  .grid-d1,
  .grid-d2,
  .grid-d3,
  .grid-d4,
  .grid-d5,
  .grid-d6,
  .grid-d7,
  .grid-d8 {
    @include dashboard-layout(space-between, 2.3rem, left);
    border-radius: 0.4rem;
  }
}

.container-main {
  height: 100vh;
  padding: 0 12rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 19rem;
    width: 100%;
    z-index: -2;
    background-color: variables.$very-pale-blue;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

.container-main-dark {
  background-color: variables.$very-dark-blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;

  &::after {
    background-color: variables.$very-dark-blue-1;
    z-index: -2;
  }
}

.dashboard-dark {
  background-color: variables.$dark-desaturated-blue !important;

  &:hover {
    background-color: variables.$dark-desaturated-blue-hover !important;
  }
}

.heading {
  color: variables.$very-dark-blue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-image: linear-gradient(
        90deg,
        variables.$toggle-1,
        variables.$toggle-1
      );
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, variables.$toggle);
  border-radius: 34px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in-out;

  &::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    top: 2px;
    background-color: variables.$white;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  &:hover {
    background-image: linear-gradient(-90deg, variables.$toggle);
  }
}

.text-bright-red {
  color: variables.$bright-red;
  font-weight: 700;
}

.text-dark {
  color: variables.$white !important;
}

.text-2-dark {
  color: variables.$desaturated-blue !important;
}

.text-lime-green {
  color: variables.$lime-green;
  font-weight: 700;
}

@media (max-width: 991px) {
  .container-main {
    height: fit-content;
    padding: 3rem 6rem 0.5rem;
  }

  .container-grid {
    margin-bottom: 3rem;
    grid-template-areas: "a-1 a-2" "b-1 b-2" "b-3 b-4" "c-1 c-1" "d-1 d-2" "d-3 d-4" "d-5 d-6" "d-7 d-8";
  }
}

@media (max-width: 600px) {
  .attribution {
    font-size: 0.8rem;
  }

  .container-main {
    padding: 3rem 1.5rem 0.5rem;
  }

  .container-grid {
    margin-bottom: 3rem;
    grid-template-areas: "a-1" "a-2" "b-1" "b-2" "b-3" "b-4" "c-1" "d-1" "d-2" "d-3" "d-4" "d-5" "d-6" "d-7" "d-8";

    .grid-a1 {
      border-bottom: 1px solid variables.$dark-grayish-blue;
    }

    .grid-a2 {
      justify-content: space-between;
    }
  }

  .heading {
    font-size: 1.35rem;
  }
}
